*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
    background-image: url("homebackground.jpg");
    background-size: cover;
    color:white;
    
}

.navbar{
    height:60px;
    position: sticky;
    display:flex;
    justify-content: space-between;
    background-image: none;
}

.navmenu{
    display:flex;
    height:60px;
    width:50%;
    justify-content: space-evenly;
    background-image: none;
}

.navlogo{
    background-image: none;
    height:60px;
    width:60px;
    
}

.logo{
    height:60px;
    width:100%;
    background-image: url("logo.png");
    background-size: cover; 
}

a{
    text-decoration: none;
    background-image: none;
}

.under{
    height: 1rem;
    margin-top: 1.5rem;
    background-image: none;
}

.under:hover{
    text-decoration: underline;
}

.nobg{
    background-image: none;
}

.form{
    height:50rem;
}

.feedbackheading{
    text-align: center;
    margin-top: 2rem;
    padding:10px 0 0 0;
    border:5px double white;
    width:45rem;
    height:3rem;
    margin-left:25rem;
}

.formcontent{
    height:50rem;
    width:40rem;
    margin-left: 30%;
    margin-top: 3rem;
}

.Submit{
    border: 2px solid white;
    height:30px;
    width:90px;
    font-size: large;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.Submit:hover{
    transform: scale(1.25);
}

.Submit:active{
    background-image:none;
    background-color:#6f2a7f;
}

input[type="text"]{
    height:20px;
    padding:0;
    width:10rem;
    color:black;
}

input[type="tel"]{
    color:black;
    padding:0;
    height:20px;
    width:10rem;
}

textarea{
    height:40px;
    width:500px;
    color:black;
}

.footer{
    height:15rem;
    background-image: none;
    background-color: #6f2a7f;
    margin-top:5rem;
    display: flex;
}

.footerimage{
    height:15rem;
    width:15rem;
    background-image: url("logo.png");
    background-size: cover;
    margin-left: 20rem;
}

.footerdetails{
    background-image: none;
    height:15rem;
    width:50%;
}

.details{
    background-image: none;
    height:10rem;
    margin-top: 2.5rem;
}

li{
    background-image: none;
    font-size: 1.3rem;
}

ul{
    list-style-type: none;
}