*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
    background-image: url("homebackground.jpg");
    background-size: cover;
    color:white;
    
}

.navbar{
    height:60px;
    position: sticky;
    display:flex;
    justify-content: space-between;
    background-image: none;
}

.navmenu{
    display:flex;
    height:60px;
    width:50%;
    justify-content: space-evenly;
    background-image: none;
}

.navlogo{
    background-image: none;
    height:60px;
    width:60px;
}

.logo{
    height:60px;
    width:100%;
    background-image: url("logo.png");
    background-size: cover; 
}

a{
    text-decoration: none;
    background-image: none;
}

.under{
    height: 1rem;
    margin-top: 1.5rem;
    background-image: none;
}

.under:hover{
    text-decoration: underline;
}

.projectsbody{
    height:576px;
    background-image: none;
}

.typingtext{
    text-align: center;
    padding-left:40rem;
    padding-top:12rem;
    font-family: monospace;
    font-size: 3rem;
    width:0;
    overflow: hidden;
    background-image: none;
    animation: typing 3s steps(11,end) forwards ;
}

@keyframes typing{
    from{width:0}
    to{width:10ch}

}

.poptext{
    text-align: center;
    font-size: 2rem;
    transform:scale(0);
    animation: pop 1s ease-out forwards;
    animation-delay:3.75s;
    background-image: none;
}

@keyframes pop{
    to{
        transform: scale(1);
    }
}


.footer{
    height:15rem;
    background-image: none;
    background-color: #6f2a7f;
    margin-top:5rem;
    display: flex;
}

.footerimage{
    height:15rem;
    width:15rem;
    background-image: url("logo.png");
    background-size: cover;
    margin-left: 20rem;
}

.footerdetails{
    background-image: none;
    height:15rem;
    width:50%;
    
}

.details{
    background-image: none;
    height:10rem;
    margin-top: 2.5rem;
}

li{
    background-image: none;
    font-size: 1.3rem;
}

ul{
    list-style-type: none;
}